@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;900&family=Sora:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-family: 'Sora', sans-serif;
}

html {
    font-size: 62.5%;
}

body{
    background-color: rgb(70, 253, 168);
    background-image: linear-gradient(to right, rgb(0, 255, 136), rgb(234, 255, 139));
}

.home{
    display: grid;
    height: 91vh;
    place-items: center;
    position: relative;
}

nav{
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 700;
}

nav ul{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

nav ul li{
    text-decoration: none;
    list-style: none;
}


nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li:last-child a{
    border-bottom: 2px solid transparent;
    font-size: 1.4em;
}

nav ul li:last-child a:hover{
    border-bottom: 2px solid currentColor;
    transition: border-bottom 0.5s ease-in-out;
}

.profile-info{
    display: flex;
    align-items: center;
}

.profile-info img{
    width: 35px;
    border-radius: 50%;
    margin-right: 8px;
}


.home-info{
    width: 70%;
    padding: 10px;
    font-size: 1.4em;
}

.home .home-info h1{
    font-size: 5em;
    text-decoration: underline;
    text-shadow: 3px 3px 6px #3d3d3d;
    margin-bottom: 10px;
    font-weight: 600;
}

.home-info ul{
    margin: 10px 30px;
}

.control-button{
    padding: 10px;
    border: 1px solid rgb(97, 97, 97);
    border-radius: 5px;
    background-color: rgb(222, 252, 91);
    font-weight: 600;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.control-button:hover{
    transition: all 0.25s ease-in;
    transform: scale(1.05, 1.05);
}

